*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando Fontes*/
body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

/* Add Bg-imag*/
body{
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #121214;
}

/* Header */
header{
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div img{
    width: 100%;
    border-radius: 50%;
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
}

/*Dimennsionar o tamanho do Card*/
main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: flex;
    flex-direction: column;
    gap: 24px;
}